name: Integration Test
run-name: Testing ${{ inputs.rascal_version }}
on:
  workflow_dispatch:
    inputs:
      rascal_version:
        description: 'rascal branch/tag to checkout'
        required: true
        default: 'main'
      dependencies_on_lib_path:
        description: 'Put tpls of dependencies on lib path'
        required: true
        default: 'true'

env:
  MAVEN_OPTS: "-Xmx4G -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  IS_OWN_PR: "${{ secrets.MAVEN_MIRROR_URL }}"

jobs:
  test:
    runs-on: buildjet-4vcpu-ubuntu-2204
    strategy:
      matrix:
        target:
          - "'rascal' 'flybytes' 'salix-core' 'salix-contrib' 'drambiguity' 'rascal-lsp' 'rascal-git' 'php-analysis' 'typepal'"
          - "'rascal-all' 'rascal-lsp-all'"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        name: 'Checkout rascal (${{ inputs.rascal_version }})'
        with:
          repository: 'usethesource/rascal'
          ref: ${{ inputs.rascal_version }}
          path: 'deps/rascal'

      - uses: s4u/maven-settings-action@v3.1.0
        if: ${{ env.IS_OWN_PR != '' }}
        with:
          servers: '[{"id": "usethesource-gh", "username":"github", "password": "${{ secrets.MAVEN_MIRROR_PASSWORD }}"}]'
          mirrors: '[{"id": "usethesource-gh", "name": "uts mirror", "mirrorOf": "usethesource", "url": "${{ secrets.MAVEN_MIRROR_URL }}"}]'

      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'deps/rascal/pom.xml'
      - name: Compile rascal java
        run: mvn -B clean compile package -Drascal.tutor.skip -DskipTests -Drascal.compile.skip -Drascal.package.skip
        working-directory: deps/rascal
      - name: copy rascal jar to predictable location and cleanup
        run: |
          rm deps/rascal/target/*-sources.jar
          find deps/rascal/target -maxdepth 1 -name 'rascal-*.jar' -exec mv '{}' ${{ runner.temp }}/rascal.jar \;
          rm -rf deps

      - name: Checkout integration-script
        uses: actions/checkout@v4

      - name: Typecheck
        env:
          JAVA_TOOL_OPTIONS: "-Djava.io.tmpdir=${{ runner.temp }}"
        run: |
          java -DRASCAL_ALL_BRANCH="${{ inputs.rascal_version }}" -Xmx500m -jar ${{ runner.temp }}/rascal.jar Main \
            --libs "${{ inputs.dependencies_on_lib_path }}" \
            --maxCores 4 \
            --memory 12G \
            --rascalVersion "|file:///${{ runner.temp }}/rascal.jar|" \
            --repoFolder "|cwd:///repos|" \
            --full false \
            --clean \
             --tests ${{ matrix.target }}
